body {
    background-color: #93C8ED;
}

header, footer {
    width: auto;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    line-height: 100px;
    color: white;
    background-color: #266C9E;
}

table {
    margin: auto;
}

td {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    width: 500px;
    height: auto;
}

#box1 {
    background-color: #ff99ff;
}
#box2 {
    background-color: #ffccff;
}
#box3 {
    background-color: #cc99ff;
}
#box4 {
    background-color: #ccccff;
}
#box5 {
    background-color: #ff9966;
}
#box6 {
    background-color: #ffcc66;
}
#box7 {
    background-color: #ff9900;
}
#box8 {
    background-color: #ffcc00;
}
#box9 {
    background-color: #6699ff;
}
#box10 {
    background-color: #66ccff;
}
#box11 {
    background-color: #669999;
}
#box12 {
    background-color: #66cc99;
}
#box13 {
    background-color: #669933 ;
}
#box14 {
    background-color: #66cc33;
}
#box15 {
    background-color: #33CCFF;
}
#box16 {
    background-color: #33FFFF;
}